@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h2 {
        @apply text-xl;
    }
}

@layer components {
    .wrapper {
        @apply w-3/6 p-4 text-center my-8 mx-auto bg-[antiquewhite] border border-solid border-transparent rounded-3xl;
    }
}

.tooltip-custom {
    display: none;
    position: absolute;
    border: 1px solid #333;
    padding: 2px 10px;
    border-radius: 5px;
    max-width: 20rem;
    background-color: #ece9e9;
}
.tooltip-custom-parent:hover ~ .tooltip-custom {
    display: block;
}
.notification {
    /* position: relative; */
    /* position: 'fixed';
    top: '6rem';
    right: '1rem';
    border: '1px solid transparent';
    z-index: 9999, */
    animation: animationCustom 0.7s ease-in;
}
/* .notification + .notification {
    margin-top: 100px;
    color: red;
} */
@keyframes animationCustom {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
.noti-container {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    top: 6rem;
    right: 1rem;
    z-index: 9999;
}